
<h3>List of Users</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">CNIC</th>
      <th scope="col">Halka</th>
    </tr>
  </thead>
  <tbody>
    <%
      count = ((params[:page] || 1).to_i - 1) * 10
      @users.each_with_index do |user, index| %>
      <tr>
        <th scope="row"><%= count+index+1 %></th>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.cnic %></td>
        <td><%= extract_halka_name(user.halka_id) %></td>
      </tr>
    <% end %>
    <%= paginate @users %>
  </tbody>
</table>
