<%= form_tag users_path, local: true, method: :get do %>
  <div class="form-group row">
    <div class="select_tag">
      <%= select_tag "filter", options_for_select(%w[Candidate Voters], params[:filter])%>
    </div>
    <div class="ml-5" onclick="changeSelectedValue('<%= @filter %>')">
      <%= button_tag type: :submit , class: "btn btn-success py-2" do %>
        <%= 'Filter' %>
      <% end %>
    </div>
  </div>
<% end %>

<% if @filter.nil? || @filter == 'Candidate' %>
  <%= render 'users/candidate_table' %>
<% else %>
  <%= render 'users/user_table' %>
<% end %>
