<div class="mt-3">
  <h1>Voting Machine App</h1>
  <div class="row">
    <% if current_user.avatar.attached? %>
      <div class="col-4 user_image">
        <%= cl_image_tag(current_user.avatar.key, width: 200, crop: :scale) %>
      </div>
    <% else %>
      <p>No profile Image</p>
    <% end %>
      <div class="col-8 user_details">
        <p><strong>Name: </strong> <%= current_user.name %></p>
        <p><strong>Email: </strong> <%= current_user.email %></p>
        <p><strong>CNIC: </strong> <%= current_user.cnic %></p>
        <p><strong>Halka: </strong> <%= extract_halka_name(current_user.halka_id) %></p>
      </div>
  </div>

  <div class="mt-4">
    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
    <%= link_to 'Apply for CandidateShip', new_user_candidate_path(current_user.id) , class: 'btn btn-info' if policy(Candidate).new?%>

    <% if current_user.candidate? %>
      <p class="mt-2">Total Votes Casted in your favor: <strong><%= total_votes(current_user.id) %></strong><p>
    <% end %>

    <%= link_to 'Voters in my Halka', halka_voters_path , class: 'btn btn-primary' if current_user.candidate? %>

    <% if policy(User).index? %>
      <%= link_to "List of Users", users_path , class: "btn btn-primary text-white" %>
      <%= link_to "Show All Halkas", halka_index_path , class: "btn btn-primary text-white" %>
      <%= link_to "Votes", votes_path , class: "btn btn-info text-white" %>
      <%= link_to "Create Election Event", new_election_path, class: "btn btn-secondary"%>
    <% end %>

  </div>
    <div class="mt-4 voting_ends">
      <p class="mr-3"><strong>Voting Ends in:</strong></p>
      <div id="auctionEndTime">
        <%= @election_end_time %>
      </div>
    </div>

    <div class="clockdiv_style" id="clockdiv">
      <div>
        <div class="smalltext"><%= t(".days") %></div>
        <span class="days"></span>
      </div>
      <div>
        <div class="smalltext"><%= t(".hours") %></div>
        <span class="hours"></span>
      </div>
      <div>
        <div class="smalltext"><%= t(".minutes") %></div>
        <span class="minutes"></span>
      </div>
      <div>
        <div class="smalltext"><%= t(".seconds") %></div>
        <span class="seconds"></span>
      </div>
  </div>

  <%= javascript_tag "initializeClock('clockdiv')" %>



  <h4 class="mt-4">List of Approved Candidates of your Constituency: </h4>
    <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">CNIC</th>
        <th scope="col">Halka</th>
        <th scope="col">Party Name</th>
        <th scope="col">Show Details</th>
      </tr>
    </thead>
    <tbody>
      <% @candidates.each_with_index do |candidate, index| %>
        <tr>
          <th scope="row"><%= index+1 %></th>
          <td><%= candidate.name %></td>
          <td><%= candidate.email %></td>
          <td><%= candidate.cnic %></td>
          <td><%= extract_halka_name(candidate.halka_id) %></td>
          <td><%= extract_party_name(candidate.id) %> </td>
          <td><%= link_to "Show Details", candidate %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
